.Main_container {
    padding-top: 0px; 
    background: transparent; 
    height: 100%; 
    width: 100vw; 
    display: flex; 
    justify-content: space-evenly; 
    flex-direction: column; 
}

.Main_one {
    width: 100%; 
    height: 100vh; 
    background: #0E131B; 
}

.animation_container {
    width: 80%; 
    height: 50%;
    margin-top: 12.5%; 
    margin-left: 10%; 
    background: #1A202B; 
    border-radius: 10px; 
    z-index: 10px;
    /* border-color: rgb(28, 224, 55);  */
}

.animation_box_one {
    width: 50; 
    height: 50; 
    background: rgb(88, 88, 235); 
}

.Main_two {
    width: 100%; 
    height: 100vh; 
    background: #1A202B; 
}

.Main_three {
    width: 100%; 
    height: 100vh; 
    background: #0E131B; 
}

.Main_four {
    width: 100%; 
    height: 100vh; 
    background: #1A202B;
}