.main_container {
    background: transparent; 
    width: 100%; 
    height: 100vh;
}

.event_body_parent {
    display: flex; 
    flex-direction: row; 
}

.left_container {
    display: flex; 
    flex-direction: column; 
    width: 50%;
    height: 100%;
    overflow: hidden;
    justify-content: space-evenly; 
}

.right_container {
    display: flex; 
    flex-direction: column; 
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.left_container > img {
    max-width: 80%; 
    margin-top: 10px; 
    margin-left: 10%; 
    border-radius: 10px; 
    max-height: 500px;
    box-shadow: 5px 5px 5px 5px rgb(127, 189, 214);
}

.left_container > p {
    width: 80%; 
    margin-left: 10%; 
    margin-top: 10px; 
    height: 30%;
    color: rgb(171, 162, 214); 
    font-family: 'Courier New', Courier, monospace; 
    font-size: 30px; 
    text-align: center; 
}

.button_options_container {
    margin-top: 100px; 
    width: 80%; 
    margin-left: 10%; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly; 
    margin-bottom: 40px; 
}

.button_options_container > button {
    width: 20%; 
    height: 40px;
    background: rgb(25, 18, 121); 
    color: white; 
}

.button_options_container > a {
    width: 20%; 
    height: 40px;
    background: rgb(25, 18, 121); 
    color: white;
}

.button_options_container > a > button {
    width: 100%; 
    height: 100%;
    background: rgb(25, 18, 121); 
    color: white;
}

.attendee_container {
    width: 80%; 
    margin-left: 10%; 
    border-radius: 5px; 
    box-shadow: 5px 5px 5px 5px rgb(127, 189, 214);
}

.attendee_container > p {
    color: white; 
    text-align: center; 
    font-family: 'Courier New', Courier, monospace; 
    margin-top: 30px; 
    margin-bottom: 20px; 
    font-size: 30px; 
}

.attendee_card {
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
    background: rgb(92, 92, 221); 
    color: white; 
    font-family: 'Courier New', Courier, monospace; 
    text-align: center; 
    height: 200px;
    margin-bottom: 50px; 
    margin-top: 50px;
    width: 80%; 
    margin-left: 10%; 
    border-radius: 5px; 
    box-shadow: 5px 5px 5px 5px rgb(127, 189, 214);
}

.attendee_card > img {
    max-width: 50px;
    max-height: 50px; 
    margin: auto; 
    margin-top: 25px; 
}

.attendee_card > p {
    margin-top: 25px; 
}