@import '../../scss/_variables';

.login-container {
    width: 94%;
    margin: 16px auto 0px auto;

    h1 {
        margin: 0 auto;
        text-align: center;
        color: white;
        font-size: 40px;
        font-family: $mono;
    }
    input {
        width: 70%;
        margin: 20px 15% 0 15%;
        height: 36px;
        font-size: 22px;
        padding-left: 8px;
        border: 2px solid #000;
        background: #000;
        font-family: $mono;
        border-radius: 2px;
        color:  rgb(42, 177, 1);
    } 
    input:focus {
        border: 2px solid rgb(42, 177, 1);
        color:  rgb(42, 177, 1)
    }    
        
    .login-btns-box {
        width: 80%;
        margin: 24px auto 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        p {
            margin-bottom: 8px;
            font-size: 60px;
            line-height: 50px;
            color: white;
        }
        button {
            height: 40px;
            width: 40%;
        }
    }
    h2 {
        color: white;
    }

    .register-btns-box {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-top: 16px;

        a, .back-to-login {
            width: 40%;
        }

        .register-btn {
            width: 100%;
        }
    }
}