@import '../../scss/_variables';

.login-container {
    width: 90%;
    margin: 16px auto 0px auto;

    h1 {
        margin: 0 auto;
        text-align: center;
        color: white;
        // font-size: 40px;
        font-family: $mono;
        font-weight: bold;
        font-size: 30px;
    }
    .login-form-box {
        border: 2px solid $teal;
        border-radius: 2px;
        margin-top: 16px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    input {
        font-family: $mono;
        font-weight: bold;
        font-size: 20px;
        margin: 16px auto 0 auto;
        background: $dark;
        border: 1px solid #fff;
        border-radius: 2px;
        margin-left: 5%;
        width: 90%;
        height: 40px;
        padding-left: 10px;
        color: $teal;
    } 
    input:focus {
        border: 1px solid $teal;
        color:  $teal;
        outline: none;
    }    
        
    .login-btns-box {
        width: 90%;
        margin: 24px auto 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        p {
            margin-bottom: 8px;
            font-size: 60px;
            line-height: 50px;
            color: white;
        }
        button {
            height: 40px;
            border-radius: 5px;
            border-color: $neonBlue;
            font-family: $sans;
            font-weight: bold;
            font-size: 14px;
            margin-top: 12px;
            margin-bottom: 12px;
            background: $dark;
            transition: 0.2s;
            color: $neonBlue;
            width : 50%;
            max-width: 138px;
        }

        button:hover {
            background: $neonBlue;
            color: $dark;
        }
    }
    h2 {
        color: white;
    }

    .register-btns-box {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-top: 16px;

        a, .back-to-login, .register-btn {
            height: 40px;
            border-radius: 5px;
            border-color: $neonBlue;
            font-family: $sans;
            font-weight: bold;
            font-size: 14px;
            margin-top: 12px;
            margin-bottom: 12px;
            background: $dark;
            transition: 0.2s;
            color: $neonBlue;
            width : 40%;
            max-width: 138px;
        }

        .back-to-login:hover, .register-btn:hover {
            background: $neonBlue;
            color: $dark;
        }
    }
}


@media screen and  (min-width: 667px) {
    .login-form-box {
        max-width: 600px;
        margin: 0 auto 40px auto;
    }

    .login-container h1 {
        font-size: 40px;
        margin-bottom: 14px;
    }
}

@media screen and (min-width: 455px) {
    .login-container {
        .login-btns-box button, {
            font-size: 16px!important;
        }
    }
    .register-btns-box .back-to-login, .register-btns-box .register-btn {
        font-size: 16px!important;
    }
}