@import '../../scss/_variables';


body {
    background: $dark;
}
.dashboard-container {
    font-family: $mono;
    width: 94%;

    margin: 12px auto 0 auto;

    .dashboard-top-box {
        width: 100%;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;

        a {
            width: 25%;
            display: inline-block;
        }
        button {
            height: 40px;
        color: $neonBlue;
        // border: 2px solid $neonBlue;
        border-color: $neonBlue;
        border-radius: 5px;
        font-family: $sans;
        font-weight: bold;
        font-size: 16px;
        margin-top: 12px;
        margin-bottom: 12px;
        background: $dark;
        transition: 0.2s;
        width: 138px;
        max-width: 138px;
        }
        button:hover {
            color: $dark;
            background: $neonBlue;
        }
        
        h1 {
            font-size: 30px;
            width: 100%;
            text-align: center;
            font-weight: bold;
            color: #fff;
            // border-bottom: 3px solid #27E5E9;
            margin-bottom: 16px;
            margin-top: 12px;
        }
        .dashboard-top-box-filler {
            width: 20%;
            height: 40px;
            // background: hotpink; 
        }
    }

    // .events h1.white-text{
    //     color: #fff;
    // }
        
    
}

