* {
    button {
        cursor: pointer;
    }
}


/* .map-box {
    position: relative;
    margin: 200px auto;
}
#container .map-box div {
    
    height: 80vh;
    max-width: 80vw;
    margin: 0 auto;
} */