//  Colors
$blueGrey: #27303F;
$darkGrey: #1A202B;
$teal: #27E5E9;
$blue: #1896DA;
$dark: #0E131B;
$terminalGreen: rgb(80, 219, 0);

//  Fonts
$mono: 'Courier New', Courier, monospace;
$sans: 'Open Sans', sans-serif;



  