.App-header {
    background-color: #1A202B; 
    height: 100px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-evenly;  */
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .left_nav {
    display: flex;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold; 
    justify-content: space-evenly; 
    margin-left: 10px; 
    width: 25%; 
  }

  .right_nav {
    display: flex;
    flex-direction: row;
    width: 75%; 
  }

  .left_nav > img, .right_nav > img {
    max-width: 60px;
    max-height: 60px; 
  }

  .right_nav > img {
    margin-left: 5%;
  }

  .nav_items {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly; 
    width: 25%; 
    list-style-type: none;
    margin-left: 40%;  
  }

  .nav_items > li > button {
    background:  #1A202B; 
    border-color: #1896DA; 
    color: #1896DA; 
    font-size: 24px; 
    font-family: 'Courier New', Courier, monospace; 
    border-radius: 5px; 
    margin-left: 5px; 
  }

  .nav_items > li > button:hover {
    background: #1896DA; 
    color: white; 
  }

  /* Media queries */

  @media screen and (max-width: 700px) {

  }